<h1> Create a Game </h1>
<form action="/create" method="POST">
  <label>Create a game password: <input type="text" name="password"></label>
  <label>Create a name:<input type="text" name="name"></label>
  <button type="submit">Create Game</button>
</form>
